html {
   margin: 0;
   padding:0;
   box-sizing: border-box;
}

body {
  /* background-color:rgb(175, 0, 110);*/
  background-color: rgb(236, 238, 241);
  font-family: "Roboto",Helvetica, serif,sans-serif;
  margin: 0;
}
.part1 {
 background-color: rgb(211, 214, 218);
 width: 100%;
  border-top: 0.1rem solid  rgb(217, 222, 228); 

}

.fas{
  color: rgb(117, 24, 83);
}

.far{
  color: rgb(117, 24, 83);
}

.logo{
   top: 0.5em;
   text-align: center;
   
}
.navbar{
  text-align: right;
}
 
.navbar a{
 color: rgb(117, 24, 83);
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  
}
 
.navbar li {
  display: inline-block;
  padding:0.6rem;
     
}
 
 
.nabvbar li a {
 display: block;
  color: rgb(128, 12, 85);
  text-align: center;
  padding: 0.1em 0.5em; 
 text-decoration: none;
}
 
.navbar li a:hover {
  color:  rgb(28, 15, 207);
  text-decoration: underline;
}

.search{
  text-align: center;
  padding-left: 0.5em;
  
}

 
.search li{
  display: inline-block;
  font-size: 1rem;
}


.search a{
  display: block;
  color:rgb(97, 7, 67);
  text-align: center;
  padding: 0.7em 3em 0.7em 0.7em;
  text-decoration: none;
}

.search li a:hover {
  color: lightseagreen;
}

.box{
  font-size: 1rem;
  list-style-type: none;
  overflow: hidden;
  border: lightsteelblue;
  border-radius: 0.1em;
  background-color: white;
  box-shadow: 3px 3px 1px 1px rgba(193, 196, 189, 0.5);
}

.srchbox{
  list-style-type: none;
  overflow: hidden;
  border: lightsteelblue;
   border-radius: 0.1em;
  background-color: rgba(243, 150, 11, 0.979);
  box-shadow: 3px 3px 1px 1px rgba(193, 196, 189, 0.5);
 margin-right:2em;
}
.part2{
 margin-top: 0;
 text-align:center;
}
 
.part2 ul {
 list-style-type: none;
 padding: 0;
 margin-top: 0;
 overflow: hidden;
 background-color:rgba(131, 11, 87, 0.829) ;
}
 
.part2 li {
  display: inline-block;
  padding:0.5rem;
  font-size: 1.3rem;
}
 
.part2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-decoration: none;
  font-size: 1.2rem;
}
 
.part2 li a:hover {
  text-decoration: underline;
  color: #0b4dad;
}

.box2{
  list-style-type: none;
  overflow: hidden;
  padding:  0.7em 1.5em 0.3em 3em; 
}
  
main{
  margin-top: 0;
}
 
.top{
  margin-top: 2rem;
 padding: 0.5rem 0 1em 1em;
 color: rgb(128, 12, 85);
}
 

.place{
  display: inline-block;
  overflow: hidden;
  max-width: 23em;
  margin: 0;
  text-align: center;
  border-radius: 0.3em;
  border: 0.1em solid rgb(210, 218, 221) ;
  box-shadow: 0.01em 0.01em 0.1em 0.1em rgb(210, 218, 221) ;
  margin: 2em 2em 2em 2em;
}

.bold{
  font-weight: bold;
}

.image-link{
  font-weight: bold;
  padding: 0.1em 1.5em 0.1em 1.5em ;

}
.image-heading .button {
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background-color: rgb(163, 4, 105) ;
  border: 0.1rem solid rgb(210, 218, 221) ;
  border-radius: 0.3em;
  padding: 0.7em 0.7em 0.7em 0.7em;
  margin: 0 8em 0 8em;
}
.image-heading .button a:hover{
  color: blue;
  text-decoration: underline;
}

.image-heading a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
}

.image-heading  a:hover{
  background-color:white;
  color: #0b4dad;
  text-decoration: underline;

}



.star{
 padding-left: 14em;
}

.email{
  width: 100%;
}

.email ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color:rgb(163, 4, 105) ;
  height: 9vh;
}

.email h4{
  color: white;
  padding:0.2em 3em 0 8em;
   
}

.email li {
  display: inline-block;
  padding:0;
}


 
.email li a {
  display: block;
  text-decoration: none;
}

.box3{
  color:rgb(186, 189, 192);
  list-style-type: none;
  overflow: hidden;
  border: lightsteelblue;
  border-radius: 0.1em;
  background-color: white;
  box-shadow: 3px 3px 2px 2px rgba(75, 87, 53, 0.5);
  padding:  0.3em 17em 0.3em 0.1em;
  
}

.box3:hover{
  border-bottom: 0.3rem solid rgb(238, 198, 20);
}

.box4{
  color:black;
  list-style-type: none;
  overflow: hidden;
  border: lightsteelblue;
  border-radius: 0.9em;
  background-color: rgb(238, 198, 20);
  box-shadow: 3px 3px 2px 2px rgba(75, 87, 53, 0.5);
  padding:  0.4em 0.4em  0.4em  0.4em ;
  
}

.box4:hover{
  text-decoration: underline;
}
  
.footer-area .policy{
  display: inline-block;
  text-decoration: none;
  color: blue;
}


.footer-area{
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: rgb(19, 21, 22);
  color: white;
  height: 50vh;
  margin-top:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.footer-area .policy li a {
  text-decoration: none;
  color: rgb(38, 99, 179);
}


.footer-area .social li a{
  list-style-type: none;
  display: inline-block;
  font-size: 1.5rem;
  border: black;
  background-color: rgb(10, 11, 12); ;
  margin: 0.5em;
  padding:0.5rem 0.5rem 0.5rem 0.5rem;
}

 
  

.footer-area ul{
  list-style-type: none;
  padding-left: 0.5em;
  margin: 0;
  line-height: 1.2em;
  
  
}

.footer-area li a:hover {
 text-decoration: underline;
 
}

.footer-area li a {
  display:inline-block;
  color:rgb(186, 189, 192) ;
  text-decoration: none;
  font-size: 1rem;
} 


@media screen  (max-width:425px) and (min-width:300px){
  .part1 .search{
    grid-template-columns: 1fr;
    
    margin-right: 3rem;
    
  }

  .photos{
    grid-template-columns: 1fr;
    margin-left: 20rem;
  } 
 
  
}



@media screen (max-width:768px) and (min-width:425px){
    .main{
      grid-template-columns: 1fr 1fr;
    }
   
}


@media screen (max-width:1024px) and (min-width:768px){
    .main{
     grid-template-columns: 1fr 1fr 1fr;
    }

    
}

